*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(243, 244, 248);
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 90vh;
    width: 65%;
    border: 2.5px solid green;
    margin-top: 3.5rem;
    border-radius: 1.2rem;
    color: blue;
}
.title {
    text-align: center;
    font-size: 2.4rem;
}

.search {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-left: 10rem;

    
}

.search-bar {
    position: relative;

}

.ico {
    position: absolute;
    top: 8px;
    right: 4px;
}


.search-input {
    height: 2rem;
    width: 25rem;
    padding: 0.5rem 1.8rem 0.5rem 0.5rem;
}

.add-button button{
    height: 2rem;
    width: 5rem;

}






/* card section */

.card-box {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;

}

.card {
    height: 20rem;
    width: calc(100% /3);
    border: 2px solid black;
    border-radius: 1rem;
    text-align: left;
    line-height: 1.3rem;
    padding: 1rem;
}
